@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-header: #212121;
  --color-accent: #2196f3;
  --color-hover: #188ce8;
  --color-black: #000000;
  --color-gray: #757575;
  --color-white: #ffffff;
  --color-team: #f5f4fa;
  --color-footer: #2f303a;
  --color-alpha: rgba(255, 255, 255, 0.6);
  --color-icon: #afb1B8;
  --shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-time: 250ms;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
}

/* Сброс марджинов для абзацев и заголовков */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-header);
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none;
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

button {
  padding: 0;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  padding: 16px 0;
}
.header__logo--span {
  color: var(--color-accent);
}

.min-menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
}

.min-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
}

.min-menu-open-btn:hover,
.min-menu-close-btn:hover,
.min-menu-open-btn:focus,
.min-menu-close-btn:focus {
  color: var(--color-accent);
}

.min-menu-close-btn__icon,
.min-menu-open-btn__icon {
  fill: currentColor;
  transition: fill var(--transition-time) var(--cubic-function);
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 48px 25px;
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform var(--transition-time) var(--cubic-function);
}

.header-menu.is-hidden {
  visibility: hidden;
  transform: translateY(-101%);
  transition: transform var(--transition-time) var(--cubic-function), visibility var(--transition-time) var(--cubic-function);
}

.site-nav__link {
  font-size: 40px;
  line-height: 1.18;
  color: var(--color-black);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--color-accent);
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link--current {
  color: var(--color-accent);
}

.header-contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 60px;
}

.header-contacts__item:last-child {
  margin-bottom: 32px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  transition: color var(--transition-time) var(--cubic-function);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--color-accent);
}

.header-contacts__link.phone {
  color: var(--color-accent);
  font-size: 24px;
  line-height: 1.18;
}

.email__icon,
.phone__icon {
  display: none;
}

.header-socials {
  display: flex;
  flex-wrap: wrap;
}

.header-socials__link {
  color: var(--color-accent);
  font-size: 18px;
  line-height: 1.22;
  padding: 10px 0;
  display: inline;
}

.header-socials__item:not(:first-child) {
  margin-left: 10px;
}

.header-socials__item:not(:last-child):after {
  content: "";
  border-left: 1px solid var(--color-gray);
  margin-left: 10px;
  color: var(--color-gray);
}

@media screen and (min-width: 480px) {
  .header-contacts__link.phone {
    font-size: 34px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
  .header__logo {
    padding: 24px 0;
  }
  .header-menu {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-y: hidden;
    height: 100%;
    background-color: var(--color-white);
    padding: 0;
  }
  .header-menu.is-hidden {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
  }
  .min-menu-open-btn {
    display: none;
  }
  .min-menu-close-btn {
    display: none;
  }
  .header nav {
    margin-left: auto;
    margin-right: auto;
  }
  .site-nav {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .site-nav__link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    transition: color var(--transition-time) var(--cubic-function);
  }
  .site-nav__link--current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
  }
  .header-contacts {
    font-size: 12px;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
  }
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 0;
  }
  .header-contacts__link.email {
    padding-top: 20px;
  }
  .header-contacts__link.phone {
    padding-bottom: 20px;
    color: var(--color-gray);
    font-size: inherit;
    line-height: inherit;
  }
  .header-contacts__link.phone:hover, .header-contacts__link.phone:focus {
    color: var(--color-accent);
  }
  .email__icon--desktop {
    display: block;
    margin-right: 10px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
  .phone__icon--desktop {
    display: block;
    margin-right: 10px;
    width: 10px;
    height: 14px;
    fill: currentColor;
  }
  .header-socials {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-mini {
    margin-right: 93px;
  }
  .min-menu-open-btn {
    display: none;
  }
  .header nav {
    margin-left: 0;
  }
  .header-contacts {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
  }
  .header-contacts__item:first-of-type {
    margin-right: 50px;
  }
  .header-contacts__item:first-child {
    margin-bottom: 0;
  }
  .header-contacts__link.email,
.header-contacts__link.phone {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-contacts__link.phone {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }
  .email__icon--desktop {
    width: 16px;
    height: 12px;
  }
  .phone__icon--desktop {
    width: 10px;
    height: 16px;
  }
}
.footer {
  text-align: center;
  padding: 60px 0;
  background-color: var(--color-footer);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
}

.address-wrapper {
  margin-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--color-white);
}
.footer__logo--span {
  color: var(--color-accent);
}

.address-join-wrapper {
  margin-bottom: 60px;
}

.address {
  display: block;
  font-style: normal;
}

.address__location {
  margin-bottom: 9px;
  color: var(--color-white);
}

.footer-contacts__item:first-of-type {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--cubic-function);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--color-accent);
  transition: color var(--transition-time) var(--cubic-function);
}

.join__title {
  display: block;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-radius: 50%;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--cubic-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--color-accent);
}
.socials__icon {
  fill: currentColor;
}

.subscribe__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__input {
  color: var(--color-white);
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
}

.subscribe__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .address-join-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .address-wrapper {
    margin-bottom: 0;
  }
  .join {
    margin-bottom: 0;
  }
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .address-join-wrapper {
    margin-right: auto;
    margin-bottom: 0;
    align-items: baseline;
  }
  .address-wrapper {
    margin-right: 70px;
  }
  .join {
    margin-right: auto;
    margin-bottom: 0;
  }
  .subscribe__form {
    display: flex;
    align-items: flex-end;
  }
  .subscribe__label {
    margin-right: 12px;
  }
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
  .subscribe__button {
    margin: 0;
  }
}
.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--color-footer);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-size: 18px;
  line-height: 1.62;
  margin: 0 auto 30px auto;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-white);
}
.hero__button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: background-color var(--transition-time) var(--cubic-function);
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--color-hover);
}

.overlay {
  width: 100%;
  height: 400px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-1x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
  .overlay {
    height: 600px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desktop-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desktop-2x.jpg);
  }
}
.about {
  background-color: var(--color-white);
  padding: 60px 0;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about__content {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}
.about__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-gray);
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 94px 0;
  }
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}
.doing {
  display: none;
  padding-bottom: 94px;
}
.doing__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
.doing__list {
  display: flex;
  gap: 30px;
}
.doing__item {
  position: relative;
}
.doing__image {
  max-width: 100%;
}
.doing__description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .doing {
    display: flex;
  }
}
.team {
  padding: 60px 0;
  background-color: var(--color-team);
}
.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  flex-basis: 100%;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: var(--shadows);
}
.team__photo {
  margin-bottom: 30px;
}
.team__teammate {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-gray);
}
.team__soc-list {
  display: flex;
  justify-content: center;
}
.team__soc-item:not(:last-child) {
  margin-right: 10px;
}
.team__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color var(--transition-time) var(--cubic-function), background-color var(--transition-time) var(--cubic-function);
  outline: transparent;
}
.team__soc-link:hover, .team__soc-link:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}
.team__soc-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}
.clients {
  padding: 94px 0;
}
.clients__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-header);
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: color var(--transition-time) var(--cubic-function), border-color var(--transition-time) var(--cubic-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.clients__icon {
  display: flex;
  fill: currentColor;
}

.clients {
  padding: 94px 0;
}
.clients__title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: color var(--transition-time) var(--cubic-function), border-color var(--transition-time) var(--cubic-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
/* Фон модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity var(--transition-time) var(--cubic-function);
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* Модальное окно */
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  opacity: 1;
  visibility: visible;
  padding: 40px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--cubic-function);
}

/* Кнопка закрытия модального окна */
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-white);
  transition: color var(--transition-time) var(--cubic-function), border-color var(--transition-time) var(--cubic-function);
}

.modal__close:hover, .modal__close:focus {
  color: var(--color-accent);
  outline: transparent;
  border-color: var(--color-accent);
}

.modal__close-icon {
  fill: currentColor;
}

/* Заголовок модального окна */
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--color-header);
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  margin-top: 12px;
}

.form__label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-gray);
}

.form__label:not(:first-child) {
  margin-top: 10px;
}

.form__label:hover .form__input, .form__label:hover .form__comment {
  border-color: var(--color-accent);
}

.form__label:hover .form__input-icon {
  fill: var(--color-accent);
}

.form__input-wrapper {
  display: inline-block;
  position: relative;
  color: var(--color-header);
  margin-top: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid var(--modal-border-color);
  cursor: pointer;
  transition: border-color var(--transition-time) var(--cubic-function);
}

.form__input:focus {
  border-color: var(--color-accent);
}

.form__input:focus + .form__input-icon {
  fill: var(--color-accent);
}

.form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--transition-time) var(--cubic-function);
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder-color);
}

.form__comment:focus {
  border-color: var(--color-accent);
}

.agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.check:hover .check__icon--focus {
  opacity: 1;
}

.check__input {
  position: absolute;
  bottom: 6px;
  left: 10px;
}

.check__input:focus ~ .check__icon--focus {
  opacity: 1;
}

.check__input:checked ~ .check__icon--active {
  opacity: 1;
}

.check__icon--disable {
  opacity: 1;
}

.check__icon--active {
  position: absolute;
  left: 11px;
  opacity: 0;
  transition: opacity var(--transition-time) var(--cubic-function);
}

.check__icon--focus {
  position: absolute;
  left: 11px;
  opacity: 0;
  transition: opacity var(--transition-time) var(--cubic-function);
}

.agreement__text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-gray);
}

.agreement__link {
  display: inline;
  text-decoration: underline;
  color: var(--color-accent);
  outline-color: transparent;
  transition: outline-color var(--transition-time) var(--cubic-function);
}

.agreement__link:focus {
  outline-color: var(--color-accent);
}

.modal__submit {
  align-self: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: var(--color-white);
  background-color: var(--color-hover);
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

.portfolio {
  padding: 60px 0;
}
.portfolio__nav {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 15px 8px;
}
.portfolio__button {
  font-family: Inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--color-team);
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-time) var(--cubic-function), box-shadow var(--transition-time) var(--cubic-function), background-color var(--transition-time) var(--cubic-function);
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: var(--shadows);
  background-color: var(--color-accent);
  color: var(--color-white);
}

.portfolio__nav-item + .portfolio__nav-item {
  margin-left: 10px;
}

/* Подсветка первой кнопки */
.first {
  box-shadow: var(--shadows);
  color: var(--color-white);
  background-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .portfolio__nav {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .portfolio__nav {
    margin-bottom: 50px;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  width: 100%;
  outline: 1px solid #eeeeee;
}
.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: box-shadow var(--transition-time) var(--cubic-function);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .projects__description-wrapper, .projects__link:focus .projects__description-wrapper {
  transform: translateY(0);
}
.projects__figure {
  position: relative;
  overflow: hidden;
}
.projects__item-images {
  display: block;
  width: 100%;
  height: 100%;
}
.projects__description-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  transform: translateY(101%);
  transition: transform var(--transition-time) var(--cubic-function);
  background-color: rgba(33, 150, 243, 0.9);
}
.projects__description {
  width: calc(100% - 48px);
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}
.projects__content {
  padding: 20px 24px;
  flex-grow: 1;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.projects__title {
  color: var(--color-header);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__item-description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

@media screen and (min-width: 480px) {
  .projects__description-wrapper {
    align-items: center;
    padding: 0 24px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
  .projects__description-wrapper {
    overflow-y: hidden;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */