.footer {
  padding: 60px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--color-footer);
  .container {
    display: flex;
    align-items: baseline;
  }
  .subscribe__input {
    color: var(--color-white);
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #2f303a;
  }
}

.address-wrapper {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-white);
  &--span {
    display: inline-block;
    color: var(--color-accent);
  }
}

.footer-adress {
  display: block;
  font-style: normal;
  &__post {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);
  }
}

.footer-contacts {
  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-alpha);
    transition: color var(--transition-time) var(--cubic-function);
      &:hover,
      &:focus {
        color: var(--color-accent);
      }
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* ПРИСОЕДИНЯЙТЕСЬ */

.socials {
  margin-right: auto;
  &__text {
    display: block;
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-time) var(--cubic-function);
    &:hover,
    &:focus {
      background-color: var(--color-accent);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
  }
} 

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--color-white);
}

/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.subscribe {
  &__label {
    width: 358px;
    margin-right: 12px;
  }
  &__form {
    display: flex;
    align-items: flex-end;
  }
  &__title {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: #2196f3;
    box-shadow: var(--box-shadow);
  }
  &__icon {
    margin-left: 10px;
  }
}