// $color-header: #212121;
// $color-accent: #2196f3;
// $color-hover: #188ce8;
// $color-black: #000000;
// $color-gray: #757575;
// $color-white: #ffffff;
// $color-team: #f5f4fa;
// $color-footer: #2f303a;
// $color-alpha: rgba(255, 255, 255, 0.6);
// $color-icon: #afb1B8;
// $shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
// $transition-time: 250ms;
// $cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
// $modal-border-color: rgba(33, 33, 33, 0.2);
// $modal-placeholder-color: rgba(117, 117, 117, 0.5);

:root {
  --color-header: #212121;
  --color-accent: #2196f3;
  --color-hover: #188ce8;
  --color-black: #000000;
  --color-gray: #757575;
  --color-white: #ffffff;
  --color-team: #f5f4fa;
  --color-footer: #2f303a;
  --color-alpha: rgba(255, 255, 255, 0.6);
  --color-icon: #afb1B8;
  --shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-time: 250ms;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
}

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;