.about {
  background-color: var(--color-white);
  padding: 60px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__content {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-team);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-gray);
  }
}

@media screen and (min-width: $tablet-width) {
  .about__title {
    text-align: left;
  }
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $desktop-width) {
  .about {
    padding: 94px 0;
  }
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}