.team {
  padding: 94px 0;
  background-color: var(--color-team);
  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    flex-basis: 100%;
    box-shadow: var(--shadows);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
  }
  &__content {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &__teammate {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--color-gray);   
  }
  &__soc-list {
    display: flex;
    justify-content: center;
  }
  &__soc-item:not(:last-child) {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  &__soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #afb1b8;
    transition: color var(--transition-time) var(--cubic-function),
    background-color var(--transition-time) var(--cubic-function);
    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
  &_soc-icon {
    fill: currentColor
  }
}

// .team__item + .team__item {
//   margin-left: 30px;
// }

// .team__soc-item:first-child {
//   margin-left: 0;
// }

@media screen and (min-width: $tablet-width) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $desktop-width) {
  .team {
    padding: 94px 0;
  }
  .team__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}